<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="W3ExeSolution-ejb">
        <wb-resource deploy-path="/" source-path="/ejbModule" tag="defaultRootSource"/>
        <property name="java-output-path" value="/W3ExeSolution-ejb/build/classes"/>
        <property name="ClientProject" value="W3ExeSolution-ejbClient"/>
        <property name="ClientJARURI" value="W3ExeSolution-ejbClient.jar"/>
    </wb-module>
</project-modules>
