<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="W3ExeSolusion">
        <wb-resource deploy-path="/" source-path="/EarContent" tag="defaultRootSource"/>
        <dependent-module archiveName="W3Exeolution-common.jar" deploy-path="/lib" handle="module:/resource/W3Exeolution-common/W3Exeolution-common">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="W3ExeSolution-ejb.jar" deploy-path="/" handle="module:/resource/W3ExeSolution-ejb/W3ExeSolution-ejb">
            <dependent-object/>
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="W3ExeSolution-war.war" deploy-path="/" handle="module:/resource/W3ExeSolution-war/W3ExeSolution-war">
            <dependent-object/>
            <dependency-type>uses</dependency-type>
        </dependent-module>
    </wb-module>
</project-modules>
